#include "resource.h"
#include "winres.h"

//////////////////////////////////////////////////////////////////////////////
//MENU
DEVCAPS2 MENU DISCARDABLE
BEGIN
    POPUP "&Device"
    BEGIN
        MENUITEM "&Screen",                 IDM_SCREEN, CHECKED
    END
    
    POPUP "&Capabilities"
    BEGIN
        MENUITEM "&Basic Information",      IDM_BASIC
        MENUITEM "&Other Information",      IDM_OTHER
        MENUITEM "&Curve Capabilities",     IDM_CURVE
        MENUITEM "&Line Capabilities",      IDM_LINE
        MENUITEM "&Polygonal Capabilities", IDM_POLY
        MENUITEM "&Text Capabilities",      IDM_TEXT
    END
END
