#include <winresrc.h>
#include "Resource.h"

//////////////////////////////////////////////////
//MENU

DIBCONV MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open",   IDM_FILE_OPEN
    END
END
